body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f8ff;
    position: relative;
    margin: 0;
}

.container {
    text-align: center;
    border: 2px solid #8a2be2;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}

button {
    background-color: #5245F5;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    min-width: 120px;
}

button:hover {
    background-color: #5245F5;
}

#noButton {
    position: absolute;
    background-color: red;
}

@media (max-width: 600px) {
    .button-container {
        flex-direction: column;
        gap: 10px;
    }

    button {
        min-width: unset;
        width: 100%;
    }
}


